<div class="container">
  <h1>
    {{title}}!
  </h1>

  <div class="row">
    <div class="col-sm-6">

      <div class="form-group">

        <label>Choose your question from list or type:</label>
        <select class="form-control" [(ngModel)]="selectedQuestion" (ngModelChange)="setQuestion()">
          <option *ngFor="let question of questions" [ngValue]="question">{{question.question}}</option>
        </select>


        <textarea class="form-control" [(ngModel)]="questionText"></textarea>
      </div>


    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <h2>Response from service</h2>
        <alert *ngIf="!!questionText" type="info">{{questionText}}</alert>
      </div>

    </div>
  </div>
</div>